@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.content{
    margin-left: 10px;
    margin-right: 10px;
    padding: 16px;
    
}

.espace {
    flex: 1 1 auto;
  }

mat-toolbar {
    background-color: #141414;
    font-family: 'Anton', sans-serif;
    font-size: 45px;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
a:hover{
    color: red;
}