<mat-toolbar>
    <span class="titre"> <a href="/"> Moovies ! </a> </span> 📽️
</mat-toolbar>


<div class="content">
    <img src={{movie?.poster_path}} alt="">
    <div class="title">
        <a href="{{movie?.homepage}}">{{movie?.title}}</a>
    </div>
    ({{movie?.original_language}})
    <ng-container *ngFor="let g of movie?.genres">
        [{{g.name}}]
    </ng-container>
    <div class="desc"> {{movie?.overview}} </div>
    
    <div class="info">
        <p>Release Date: {{movie?.release_date}}</p>
        
        <p>Popularity: {{movie?.popularity}}</p>

        <p>Vote Average : {{movie?.vote_average}}/10</p>

        <p>Likes : {{movie?.vote_count}} <mat-icon>favorite</mat-icon></p>

        <p>Budget: {{movie?.budget}}$  / Revenue: {{movie?.revenue}}$ / Runtime: {{movie?.runtime}}</p>

        <p>Status: {{movie?.status}} </p>
        
        
    </div>
</div>