<div class="semiHeadear">
    <img src={{imgAlea}} alt="">
    <div class="title"> 
        <a href="film/{{idAlea}}"> {{titreAlea}} </a>
    </div>
    ({{langAlea}})
    <ng-container *ngFor="let g of genreAlea"> 
        [{{g.name}}]
    </ng-container>
    <div class="desc"> {{descAlea}} </div>
    <div class="actionR"> 
        {{noteAlea}}/10
    </div>
    <div class="actionL"> 
        {{voteAlea}} <mat-icon>favorite</mat-icon>
    </div>
</div>




<swiper [slidesPerView]="4" [spaceBetween]="50" [autoplay]="{ delay: 2000, disableOnInteraction: false }"
    [navigation]="true">
    <ng-template swiperSlide *ngFor="let m of movie">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title><a href="film/{{m.id}}">{{m.title}}</a></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{m.poster_path}}" alt="Affiche de moovie">
        </mat-card>
    </ng-template>
</swiper>



<div fxLayout="row wrap" fxLayoutGap="20px" style="margin-left: 100px;">
    <div fxFlex="23%" *ngFor="let m of movie">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title> <a href="film/{{m.id}}"> {{m.title}} </a> </mat-card-title>
                <mat-card-subtitle style="color: #000;">
                    ({{m.original_language}}) 
                    <br>
                    <ng-container *ngFor="let g of m?.genres">
                        [{{g.name}}]
                    </ng-container>
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{m.poster_path}}" alt="Affiche de moovie">
            <mat-card-content>
                Description:
                <p>{{m.overview}}</p>
            </mat-card-content>
            <mat-card-actions>
                {{m.release_date}}
                <div fxFlex></div>
                {{m.vote_count}} <mat-icon>favorite</mat-icon>
            </mat-card-actions>
        </mat-card>
    </div>
</div>